@import "../../css/variables.scss";
@import "../../css/main.scss";

.modal-marine-card {
  background-color: #202534;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); // Add subtle shadow for more focus
  z-index: 1050; // Ensure modal appears above the backdrop
  .card__header .card__header__icon.close {
    background-color: transparent;
    border: 0;
  }
}

.modal-ver-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  @media #{$minimum} {
    flex-direction: column;
  }
  .left-info {
    @media #{$minimum} {
      margin-bottom: 2rem;
    }
    width: 100%;
    display: flex;
    &-content {
      justify-content: center;
      display: flex;
      margin-left: 2rem;
      flex-direction: column;
      img {
        width: 80%;
        @media #{$minimum} {
          width: 100%;
        }
      }
      .version-item {
        margin-top: 1rem;
        font-size: 0.8rem;
      }
    }
  }

  .right-info {
    width: 100%;
    display: flex;
    .first-column,
    .second-column {
      display: flex;
      flex-direction: column;
      & p {
        margin-top: 0;
        margin-bottom: 0.7rem;
      }
    }
    .first-column {
      color: $color-lightgray;
    }
    .second-column {
      margin-left: 2rem;
    }
  }
}

// Add backdrop dimming effect
body.modal-open {
  background-color: rgba(0, 0, 0, 1);
}

.modal-action-buttons {
  margin-top: $metricHeaderMarginBottom;
  height: 40px;
  width: 30%;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
}

.action-button {
  margin: 5px;
  max-width: 60px;
  min-width: 58px;
  height: 40px;
  //margin: 5px;
  line-height: 40px;

  &:hover {
    background-color: #0056b3; /* Darker color on hover */
  }
}
